html
    head
        title="titulo de la pagina" + nombre
    body
        div
            h1 Bienvenido, !{nombre} !{edad}


//- <html>
//-     <head>
//-         <title>titulo de la pagina</title>
//-     </head>
//-     <body>
//-         <div>
//-             <h1>titulo</h1>
//-         </div>
//-     </body>
//- </html>