<div class="mx-5 my-2">
    <h1>home</h1>
    <p id="userEmail"></p>
    {{> productsForm}}
    <div class="my-4" id="productsContainer"></div>
    <h2 class="text-primary">Centro de mensajes</h2>
    <input class="form-control my-2" type="text" id="chatMsg" placeholder="Ingresa un mensaje"/>
    <button class="btn btn-primary mb-2" id="sendMsg">Enviar</button>
    <div id="chatContainer" class="my-2"></div>
</div>
{{> importScripts}}
<script src="index.js"></script>