<h2 class="mx-5 my-2">Formulario Inicio de sesión</h2>
<div class="mx-5 my-2">
    <form action="/login" method="POST">
        <label>Correo:</label>
        <input class="form-control" type="text" name="email" placeholder="Ingresa tu correo"/>
        <label>password:</label>
        <input class="form-control" type="password" name="password" placeholder="Ingresa la contraseña"/>
        <button type="submit" class="btn btn-info my-3">Iniciar sesión</button>
    </form>
    <hr>
    <a href="/registro">Todavía no tienes una cuenta?, registrate</a>
</div>