<form id="productForm" method="post">
    <label>title</label>
    <input type="text" name="title" id="title"/>
    <label>price</label>
    <input type="number" name="price" id="price"/>
    <label>thumbnail</label>
    <input type="url" name="thumbnail" id="thumbnail"/>
    <input type="submit" value="agregar"/>
</form>